<div class="jumbotron">
    <h1>Login</h1>
    <div class="col-md-12">
        <form action="Login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username"/>
            <label for="password">Password</label>
            <input type="password" name="password"/>
            <button type="submit">Authenticate</button>
        </form>
    </div>
</div>

